apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: monitoring
type: Opaque
stringData:
  access-key: "YOUR_BASE64_ENCODED_ACCESS_KEY_ID"
  secret-key: "YOUR_BASE64_ENCODED_SECRET_KEY"
